.field {
  width: 600px;
  margin: 50px auto;
  height: 600px;
  border: 1px solid gray
}
.closedBlock {
  width: 100px;
  height: 100px;
  background-color: black;
  display: inline-block;
  box-shadow: 0px 0px 5px 5px white
}
.openedBlock {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.hiddenO {
  content: 'O'
}